{% extends 'layouts/base.html' %}

{% block content %}

<h1>Noticias</h1>

<p>En una emocionante noticia para la comunidad de desarrollo web, el equipo de Django ha anunciado el lanzamiento oficial de Django 4.0. Esta versión trae consigo una serie de características nuevas y mejoras significativas que prometen hacer que el desarrollo web con Django sea aún más eficiente y poderoso.

    Una de las características destacadas de Django 4.0 es la integración mejorada con las tecnologías modernas. Ahora, los desarrolladores pueden aprovechar al máximo las últimas versiones de Python, incluido el soporte total para Python 3.10. Esto no solo proporciona acceso a las últimas características del lenguaje, sino que también garantiza un rendimiento óptimo y una mayor seguridad.
    
    Además, Django 4.0 introduce un nuevo sistema de migraciones que simplifica y agiliza el proceso de gestionar cambios en la base de datos. Los desarrolladores apreciarán la capacidad de realizar migraciones en un entorno de producción de manera más segura y eficiente, lo que facilita la administración de esquemas de bases de datos complejas.</p>

<p>Website created by {{ username }}</p>

{% endblock %}